In [2]:
import pandas as pd
import ast
import numpy as np

In [3]:
def getdirector( crew ):
    for i in crew:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [4]:
df_md = pd. read_csv('../movielens_small/movies_metadata.csv')
df_links = pd.read_csv('../movielens_small/links_small.csv')
df_credits = pd.read_csv( '../movielens_small/credits.csv' )
df_keywords = pd.read_csv( '../movielens_small/keywords.csv' )

I:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_link = df_links[df_links['tmdbId'].notnull()]['tmdbId'].astype('int')
df_md['genres'] = ( df_md['genres'].fillna('[]').
                   apply(ast.literal_eval).
                   apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []) )
df_md = df_md.drop([19730, 29503, 35587]) # invalid input in cols id & imdb_id

In [6]:
df_md['id'] = df_md['id'].astype('int')
df_keywords['id'] = df_keywords['id'].astype('int')
df_credits['id'] = df_credits['id'].astype('int')

In [7]:
df_md_small = ( df_md[ df_md['id'].isin(df_link)].
               merge(df_credits, on='id').
               merge(df_keywords, on='id').
               reset_index() )

In [8]:
df_md_small['director'] = ( df_md_small['crew'].
                           apply(ast.literal_eval).
                           apply(getdirector).astype('str') )
df_md_small['cast'] = ( df_md_small['cast'].
                       apply(ast.literal_eval).
                       apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []).
                       apply( lambda x: x[:5] if len(x) >=5 else x) )
df_md_small['keywords'] = ( df_md_small['keywords'].
                           apply(ast.literal_eval).
                           apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []) )

In [16]:
df_movies = pd.read_csv( '../movielens_small/movies.csv' )
df_links['imdbId'] = df_links['imdbId'].astype(int)

In [19]:
df_all = df_movies.merge( df_links, on = 'movieId')
df_all = df_all[ df_all['tmdbId'].notnull()] #13 movies have no tmdbId
df_all['tmdbId'] = df_all['tmdbId'].astype(int)

In [21]:
df_all.shape

(9112, 5)

In [44]:
df_all.groupby('tmdbId').size()

tmdbId
2         1
5         1
6         1
11        1
12        1
13        1
14        1
15        1
16        1
18        1
19        1
20        1
21        1
22        1
24        1
25        1
26        1
28        1
33        1
35        1
38        1
55        1
58        1
59        1
62        1
63        1
64        1
65        1
66        1
67        1
         ..
343921    1
344041    1
345468    1
347969    1
353069    1
353571    1
362045    1
364067    1
368620    1
369557    1
370646    1
372315    1
372981    1
373348    1
373355    1
374454    1
376570    1
384798    1
387893    1
390734    1
390989    1
391698    1
392572    1
399106    1
401387    1
402672    1
410612    1
410803    1
410921    1
416437    1
Length: 9112, dtype: int64

In [24]:
df_md_small.rename(columns = {'id':'tmdbId', 'genres':'genres_tmdb'}, inplace = True)

In [36]:
df_md_small.groupby('tmdbId').size()

tmdbId
2         1
5         1
6         1
11        1
12        1
13        1
14        1
15        1
16        1
18        1
19        1
20        1
21        1
22        1
24        1
25        1
26        1
28        1
33        1
35        1
38        1
55        1
58        1
59        1
62        1
63        1
64        1
65        1
66        1
67        1
         ..
339527    1
341012    1
342521    1
342786    1
343921    1
344041    2
345468    1
347969    1
353069    1
353571    1
362045    2
364067    1
368620    1
369557    1
372315    2
372981    2
373348    1
373355    2
376570    1
384798    1
387893    1
390734    1
390989    1
391698    1
392572    1
399106    1
401387    1
402672    1
410921    1
416437    1
Length: 9082, dtype: int64

In [37]:
df_md_small.loc[ df_md_small['tmdbId'] == 344041 ]

,index,adult,belongs_to_collection,budget,genres_tmdb,homepage,tmdbId,imdb_id,original_language,original_title,...,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords,director
9140,9140,False,NaN,8000000,"[Drama, Thriller]",NaN,344041,tt3703908,en,Standoff,...,Released,A deadly game only one can survive,Standoff,False,6.0,96.0,"[Thomas Jane, Laurence Fishburne, Jim Watson, ...","[{'credit_id': '5682bf70c3a368227b00a841', 'de...","[camera, mask, death of a child, murder, rifle...",Adam Alleca
9141,9141,False,NaN,8000000,"[Drama, Thriller]",NaN,344041,tt3703908,en,Standoff,...,Released,A deadly game only one can survive,Standoff,False,6.0,96.0,"[Thomas Jane, Laurence Fishburne, Jim Watson, ...","[{'credit_id': '5682bf70c3a368227b00a841', 'de...","[camera, mask, death of a child, murder, rifle...",Adam Alleca

In [34]:
df_md_small['tmdbId'].unique().shape

(9082,)

In [42]:
df_md_small.drop_duplicates('tmdbId').shape

(9082, 29)