In [29]:
import pandas as pd
import ast
import numpy as np

In [30]:
def getdirector( crew ):
    for i in crew:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [31]:
df_md = pd. read_csv('../movielens_small/movies_metadata.csv')
df_links = pd.read_csv('../movielens_small/links_small.csv')
df_credits = pd.read_csv( '../movielens_small/credits.csv' )
df_keywords = pd.read_csv( '../movielens_small/keywords.csv' )

/Users/zhenliu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
df_link = df_links[df_links['tmdbId'].notnull()]['tmdbId'].astype('int')
df_md['genres'] = ( df_md['genres'].fillna('[]').
                   apply(ast.literal_eval).
                   apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []) )
df_md = df_md.drop([19730, 29503, 35587]) # invalid input in cols id & imdb_id

In [33]:
df_md['id'] = df_md['id'].astype('int')
df_keywords['id'] = df_keywords['id'].astype('int')
df_credits['id'] = df_credits['id'].astype('int')

In [34]:
df_md_small = ( df_md[ df_md['id'].isin(df_link)].
               merge(df_credits, on='id').
               merge(df_keywords, on='id').
               reset_index() )

In [35]:
df_md_small['director'] = ( df_md_small['crew'].
                           apply(ast.literal_eval).
                           apply(getdirector).astype('str') )
df_md_small['cast'] = ( df_md_small['cast'].
                       apply(ast.literal_eval).
                       apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []).
                       apply( lambda x: x[:5] if len(x) >=5 else x) )
df_md_small['keywords'] = ( df_md_small['keywords'].
                           apply(ast.literal_eval).
                           apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else []) )

In [36]:
df_movies = pd.read_csv( '../movielens_small/movies.csv' )

In [44]:
df_all = df_movies.merge( df_links, on = 'movieId')
df_all.shape

(9125, 5)

In [46]:
df_all[ df_all['tmdbId'].isnull()]

,movieId,title,genres,imdbId,tmdbId
607,720,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy,118114,NaN
608,721,Halfmoon (Paul Bowles - Halbmond) (1995),Drama,114103,NaN
640,769,Marlene Dietrich: Shadow and Light (1996),Documentary,116992,NaN
910,1133,Talking About Sex (1994),Comedy|Drama,111357,NaN
2282,2851,Saturn 3 (1980),Adventure|Sci-Fi|Thriller,81454,NaN
3246,4051,Horrors of Spider Island (Ein Toter Hing im Ne...,Horror|Sci-Fi,56600,NaN
5826,26587,"Decalogue, The (Dekalog) (1989)",Crime|Drama|Romance,92337,NaN
7408,72781,Red Chapel (Røde kapel) (2006),Comedy|Documentary,1104746,NaN
7438,73759,Hellsing Ultimate OVA Series (2006),Action|Animation|Horror,495212,NaN
7588,79299,"No. 1 Ladies' Detective Agency, The (2008)",Comedy|Crime|Mystery,874957,NaN
8045,94466,Black Mirror (2011),Drama|Sci-Fi,2085059,NaN
8505,108548,"Big Bang Theory, The (2007-)",Comedy,898266,NaN
8507,108583,Fawlty Towers (1975-1979),Comedy,72500,NaN

In [40]:
df_movies.shape

(9125, 3)

In [41]:
df_md_small.shape

(9219, 29)

In [43]:
df_md[ df_md['id'].isin(df_link) ].shape

(9099, 24)